.login {
  display: flex;
  align-items: center;
  position: fixed;

  &--background {
    height: 800px;
    margin-top: -50px;
  }

  &__form {
    width: 350px;
    margin-left: 200px;
    margin-top: -30px;

    > h1 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 50px;
    }

    input {
      height: 50px;
      width: 100%;
      border-radius: 10px;
      border: none;
      background-color: #f8f8f8;
      padding-left: 13px;
      margin-top: 10px;
      font-size: 17px;
    }

    &__pass {
      position: relative;

      > img {
        position: absolute;
        top: -4px;
        right: 10px;
        cursor: pointer;
      }
    }

    &--fullbtn {
      height: 50px;
      width: 100%;
      border-radius: 10px;
      border: none;
      background-color: #292929;
      padding: 5px;
      margin-top: 10px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      margin-bottom: 30px;
      margin-top: 50px;
    }

    &--fullbtn:hover {
      background-color: #595959;
      transition: 200ms;
    }

    &--emptyBtn {
      height: 50px;
      width: 100%;
      border-radius: 10px;
      border: none;
      background-color: #d7d7d7;
      padding: 5px;
      margin-top: 10px;
      color: #fff;
      font-size: 20px;
      cursor: not-allowed;
      margin-bottom: 30px;
      margin-top: 50px;
    }
  }
}

.noAccountBtn {
  margin-left: 58px;
  color: #292929;
  text-decoration: none;
  font-size: 20px;
}

.noAccountBtn:hover {
  color: #595959;
}

.forgotPassBtn {
  margin-left: 93px;
  color: #292929;
  text-decoration: none;
  font-size: 20px;
}

.forgotPassBtn:hover {
  color: #595959;
}
