.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

  &--background {
    height: 800px;
    margin-top: -50px;
  }

  &__inputBlock {
    width: 350px;
    margin-left: 180px;
    margin-top: -100px;

    &__form {
      > h1 {
        text-align: center;
      }

      > input {
        margin-top: 40px;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: #f8f8f8;
        padding-left: 13px;
        font-size: 17px;
      }

      .fullBtn {
        margin-top: 20px;
        background-color: #292929;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 5px;
        margin-top: 10px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 60px;
        margin-top: 50px;
      }

      .fullBtn:hover {
        background-color: #595959;
        transition: 200ms;
      }

      .emptyBtn {
        background-color: #d7d7d7;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 5px;
        margin-top: 10px;
        color: #fff;
        font-size: 20px;
        cursor: not-allowed;
        margin-bottom: 60px;
        margin-top: 50px;
      }
    }
  }
}

.link {
  color: #292929;
  text-decoration: none;
  margin-bottom: auto;
  margin-top: 50px;
  width: 80px;
}

.link__img {
  margin-bottom: -10px;
  transition: margin-left 0.3s ease;
}

.link:hover .link__img {
  margin-left: -5px;
}

.link:hover {
  color: #595959;
}
